USE [master]
GO
/****** Object:  Database [PrimerParcial]    Script Date: 31/10/2024 21:33:39 ******/
CREATE DATABASE [PrimerParcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrimerParcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PrimerParcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrimerParcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PrimerParcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrimerParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrimerParcial]
GO
/****** Object:  Table [dbo].[Deporte]    Script Date: 31/10/2024 21:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deporte](
	[ID_DEPORTE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Deporte] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partido]    Script Date: 31/10/2024 21:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partido](
	[ID_PARTIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPORTE] [int] NOT NULL,
	[EQUIPO_LOCAL] [varchar](50) NOT NULL,
	[EQUIPO_VISITANTE] [varchar](50) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[FECHA_PARTIDO] [datetime] NOT NULL,
	[MARCADOR_LOCAL] [int] NOT NULL,
	[MARCADOR_VISITANTE] [int] NOT NULL,
 CONSTRAINT [PK_Partido] PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deporte] ON 

INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (1, N'Futbol')
INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (2, N'Basquet')
INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (3, N'Tenis')
SET IDENTITY_INSERT [dbo].[Deporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Partido] ON 

INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (3, 1, N'Temperley', N'Racing', CAST(N'2024-09-29T00:00:00.000' AS DateTime), CAST(N'2024-09-29T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (5, 1, N'Boca', N'Argentinos Jr', CAST(N'2024-09-29T00:00:00.000' AS DateTime), CAST(N'2024-10-01T00:00:00.000' AS DateTime), 0, 0)
INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (6, 1, N'River', N'San Lorenzo', CAST(N'2024-09-29T00:00:00.000' AS DateTime), CAST(N'2024-09-29T00:00:00.000' AS DateTime), 2, 2)
SET IDENTITY_INSERT [dbo].[Partido] OFF
GO
ALTER TABLE [dbo].[Partido]  WITH CHECK ADD  CONSTRAINT [FK_Partido_Deporte] FOREIGN KEY([ID_DEPORTE])
REFERENCES [dbo].[Deporte] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[Partido] CHECK CONSTRAINT [FK_Partido_Deporte]
GO
USE [master]
GO
